/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*start*/
html, body{
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.splash {
	height: 99vh;
	width: 100%;
}
				.inner{
					position: relative;
					top: 30%;
					transform: translateY(-50%);
    				max-width: 650px;
    				margin: 0 auto;
				}
								.inside{
				    				width: 300px;
				    				float: right;
				    				color: white;
				    				margin-right: 20px;
								}
								.inside img {
									width: 300px;
								}
								.splash h1 {
									display:none;
								}
								.splash h2 {
									font-weight: 500;
									font-size: 25px;
									text-align: right;
								}
nav{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 15px 0;
}
				nav ul{
					list-style-type: none;
					max-width: 650px;
					margin: 0 auto;
				}
				nav li{
					display: inline-block;
					width: 25%;
					float: right;
					text-align: center;
				}
				nav a {
					text-decoration: none;
					color: #FFF;
					font-weight: 700;
					font-size: 13px;
				}
				nav a:hover {
					color: #37d103;
				}
				nav a:active {
				    color: #37d103;
				}
				.fixednav {
					position: fixed; 
					top: 0; 
					height: 12px; 
					z-index: 1;
					background-color: #111;
				}
progress {
	width: 100%;
	height: 7px;

	position: absolute;
	bottom: 3px;

	z-index: 100;
	border: none;

	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #666;
    color: #37d103;
}
progress::-webkit-progress-bar {
  background-color: #666;
}

progress::-webkit-progress-value {
  background-color: #37d103;
}

progress::-moz-progress-bar {
  background-color: #37d103;
}
				.fixedprog {
					position: fixed; 
					top: 40px; 
					z-index: 100;
				}
.bodycontainer {
	margin: 100px 0;
}
.content{
	max-width: 650px;
	margin: 0 auto;
	padding: 50px 0;
	height: 100%;
}
.partner{
	width: 45%;
	display: inline-block;
	margin-right: 30px;
	margin-top: 30px;
}
				.partner img {
					width: 70%;
					max-width: 300px;
					margin-left: 15%;
				}
				.partner h3 {
					font-weight: 500;
					margin-top: 20px;
					text-align: center;
					margin-bottom: 10px;
				}
				@media screen and (max-width: 600px){
					.partner {
						width: 100%;
					}
				}
#two {
	margin-top: 80px;
}
h2 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 500;
}
.scrollsection {
	width: 100%;
	display: table;
	margin: 100px 0;
}
		.in {
			max-width: 650px;
			margin: 0 auto;
			background-color: transparent;
		}
				.blurb {
					width: 350px;
					background-color: white;
					float: left;
					margin: 150px 0;
					padding: 25px;
				}

.focus {
	width: 32%;
	display: inline-block;
	margin-top: 30px;
	text-align: center;
}
				.focus img {
					width: 50%;
					display: block;
					margin: 10px auto;
				}
				.focus h3 {
					color: #999;
					font-weight: 500;
				}
.mapcontainer {
	width: 100%; 
	overflow: hidden; 
	height: 400px;
	margin: 100px 0;
}
				.mapcontainer .content {
					padding: 0;
				}
				#map {
					width: 100%;
					height: 650px;
					margin-top: -150px;
				}
				.mapoverlay { /* so you can scroll w/o it toggling the map */
					background: transparent;
					position:relative; 
					width: 100%;
					height: 400px; 
					margin-top: -500px;
					margin-bottom: 0;
				}
				.mapblurb {
					background-color: #FFF;
					width: 350px;
					padding: 25px;
					margin-top: 70px;
				}
.profile {
	float: left;
	text-align: center;
	width: 32%;
	min-width: 100px;
	height: 290px;
	overflow: hidden;
	position: relative;
	transition: height 0.5s;
	-webkit-transition:height 0.5s; 
}			
				@media screen and (max-width: 600px){
					.profile {
						width: 50%;
					}
				}
				.officer{
				    width: 160px;
				    height: 160px;
				    border-radius: 50%;
				    border: 7px solid #EEE;
				    background-repeat: no-repeat; 
				    background-position: center center; 
				    background-size: cover; 
				    margin: 20px auto 10px auto;
				}
				.profile h3 {
					font-weight: 500;
				}
				.profile span {
					font-size: 12px;
				}
				.one{
				    background-image: url('img/default.png');
				}
				.jack {
					background-image: url('img/jack.jpg');
				}
				.rohan {
					background-image: url('img/rohan.png');
				}
				.danyal{
				    background-image: url('img/danyal.JPG');
				}
				.matt {
					background-image: url('img/matt.jpg');
				}
				.neo {
					background-image: url('img/neo.png');
				}
				.john {
					background-image: url('img/john.jpg');
				}
				.christina {
					background-image: url('img/christina.png');
				}
				.jamal {
					background-image: url('img/jamal.png');
				}
				.muhammad {
					background-image: url('img/muhammad.png');
				}
				.kenny {
					background-image: url('img/kenny.jpeg');
				}
				.jamie {
					background-image: url('img/jamie.png');
				}
				.suraj {
					background-image: url('img/suraj.png');
				}
				.profile:last-child {
					margin-bottom: 140px;
				}
.mission {
	height: 500px;
	margin-bottom: 0;
}
				.contact a {
				    text-decoration: none;
				    color: #999;
				}
				.contact a:hover {
					color: #37d103;
				}
				.contact a:active {
				    color: #37d103;
				}
.footercontainer {
	background-color: #000;
	color: #fff;
}
.footer{
	max-width: 650px;
	margin: 0 auto;
	padding: 40px 0;
	height: 40px;
	text-align: center;
}	
				.footer a {
					text-decoration: none;
					color: #DDD;
					font-size: 13px;
				}
